#div12{//background-color:lightgreen;
	width:540px;
	height:600px;
	float:left;
	//margin:50px 0px 0px 0px;
	margin:5px;
	
	
}

#img11{
	width:580px;
	height:580px;
	border-radius:10px;
	margin-top:20px;
}

#img12{
	
	width:500px;
	margin:25px 0px -15px 40px;
	height:285px;
	border-radius:10px;
}

	